# Dummy

## Simple test

### Import modules

In [10]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

### Simple example

In [2]:
df = pd.get_dummies(list('aaabbccbba'))
df

   a  b  c
0  1  0  0
1  1  0  0
2  1  0  0
3  0  1  0
4  0  1  0
5  0  0  1
6  0  0  1
7  0  1  0
8  0  1  0
9  1  0  0

### Hand-made DataSet

In [3]:
handmade_dict = {'Sex': ['M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F'], 
                 'Age': [10, 10, 10, 20, 20, 20, 30, 30, 40, 50], 
                 'Target': [0, 0, 0, 0, 1, 0, 1, 0, 1, 1]}

hm_df = pd.DataFrame(handmade_dict)
hm_df

  Sex  Age  Target
0   M   10       0
1   F   10       0
2   M   10       0
3   F   20       0
4   M   20       1
5   F   20       0
6   M   30       1
7   F   30       0
8   M   40       1
9   F   50       1

### After dummy

In [17]:
dummy_sex = pd.get_dummies(hm_df['Sex'])
dummy_sex['Age'] = hm_df['Age']
dummy_sex['Target'] = hm_df['Target']
dummy_sex

   F  M  Age  Target
0  0  1   10       0
1  1  0   10       0
2  0  1   10       0
3  1  0   20       0
4  0  1   20       1
5  1  0   20       0
6  0  1   30       1
7  1  0   30       0
8  0  1   40       1
9  1  0   50       1

### KNC-test with dummy

In [6]:
X = dummy_sex.iloc[:, :-1]
Y = dummy_sex['Target']

X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=0)

In [12]:
knc = KNeighborsClassifier()
knc.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [16]:
print('Train score:\t\t{:.2f}'.format(knc.score(X_train, y_train)))
print('Test score:\t\t{:.2f}'.format(knc.score(X_test, y_test)))

Train score:		0.71
Test score:		0.33

![gif](source.gif)