# Pandas

![gif](imgs/P006.gif)

## Import

In [1]:
import pandas as pd
import numpy as np

## Work with columns

In [2]:
df = pd.DataFrame({'a': np.arange(7), 
                   'b': np.arange(7,0,-1), 
                   'c':['one', 'one', 'one', 'two', 'two', 'two', 'two'], 
                   'd': [0,1,2,0,1,2,3]})

df

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [3]:
df2 = df.set_index(list('cd'))
df2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [4]:
df2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

## Another abilities Pandas

### when index is number â€” we have a problem with KeyError while indexing [-1] value

In [5]:
s = pd.Series(np.arange(3.))
s

0    0.0
1    1.0
2    2.0
dtype: float64

In [6]:
try:
    s[-1]
except KeyError:
    print('KeyError')

KeyError

### but with string-index this problem doesn't exist

In [7]:
s = pd.Series(np.arange(3.), index=list('abc'))
s

a    0.0
b    1.0
c    2.0
dtype: float64

In [8]:
s[-1]

2.0

## Panel data

In [9]:
col = [list('ABCDEFGHIJ')]
ind1 = ['One', 'One', 'One', 'One', 'Two', 'Two', 'Two', 'Three', 'Three', 'Four']
ind2 = [100, 101, 102, 103, 100, 101, 102, 100, 101, 100]

df = pd.DataFrame(np.random.randn(10,10), columns=col, index=[ind1, ind2])
df.index.name = 'DATE'
df

                  A         B         C         D         E         F  \
One   100  1.156018  0.681291  0.258893 -0.835942 -0.669584  0.339374
      101 -0.175153 -0.686637 -1.145121 -0.979009 -0.809851 -0.254631
      102  0.161543  0.914696  0.061876  0.834103 -2.050255  1.667976
      103  0.773524 -0.288328  0.231901  1.152137  0.522006 -0.629292
Two   100 -1.080627 -1.613994 -0.245871  0.973926 -0.000564 -1.362040
      101 -0.878222 -0.291476  0.227141 -0.513079 -0.871289 -0.791290
      102 -0.666269 -1.859304 -0.862859  1.004336  1.083805  0.505571
Three 100  2.543765  0.963310 -0.676347  0.790337  0.372379 -0.643799
      101 -0.888791  0.241554 -0.698559 -1.501259  0.501987  0.743930
Four  100  1.104119  0.765149  1.430277 -0.705143 -0.625849 -1.308759

                  G         H         I         J
One   100  1.271490  0.151546 -0.004778 -1.240027
      101 -0.022703  0.267806 -0.068168  0.816905
      102 -1.685967 -0.601966 -0.812016 -1.193877
      103 -2.082995  0.557896 -2.376596 -1.255267
Two   100  0.175171 -0.576527 -0.831187  0.373507
      101  0.119540 -1.807188  0.536267 -0.472492
      102  0.565082  0.270730  1.880113  1.005205
Three 100 -1.306608  2.022596 -0.581799  0.523671
      101  0.395963  0.898707  0.315313  0.103767
Four  100  0.185222 -0.095993  0.408400 -1.534395