# MaxAbsScaler Test

## About Scaler

This is one of of standart scalers in module **sklearn**

I can't find his formula, but it must be like that:

# $$\color{Purple}{Х_i`=\frac{X_i}{Max(X)}}$$

### $$\text{where}$$
## $$X_i\text{ – i-value of X list}$$
## $$Max(X_i)\text{ – maximum among X}$$
## $$X_i`\text{ – transformed X}$$

## Let's test it!

### Load modules

In [16]:
import pandas as pd

from sklearn.datasets import load_iris
from sklearn.preprocessing import MaxAbsScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

### Load data

In [17]:
data = load_iris()
X = pd.DataFrame(data.data)
Y = pd.DataFrame(data.target)

display(X.head(10), Y.head(10))

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2
5  5.4  3.9  1.7  0.4
6  4.6  3.4  1.4  0.3
7  5.0  3.4  1.5  0.2
8  4.4  2.9  1.4  0.2
9  4.9  3.1  1.5  0.1

   0
0  0
1  0
2  0
3  0
4  0
5  0
6  0
7  0
8  0
9  0

### Describe data

In [18]:
X.describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

### Splitting

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=0)

## I will test it with ~~nude~~ empty-params model SVC

In [20]:
svc = SVC()
svc.fit(X_train, y_train.values.ravel())

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [21]:
print('Train Score:\t{:.2f}'.format(svc.score(X_train, y_train)))
print('Test Score:\t{:.2f}'.format(svc.score(X_test, y_test)))

Train Score:	0.98
Test Score:	0.97

Good result

But not good for this situation

### And here comes MaxAbsScaler

In [22]:
scaler = MaxAbsScaler()
scaler.fit(X)

MaxAbsScaler(copy=True)

In [23]:
X_scaled = scaler.transform(X)
X_scaled = pd.DataFrame(X_scaled)
X_scaled.head(10)

          0         1         2     3
0  0.645570  0.795455  0.202899  0.08
1  0.620253  0.681818  0.202899  0.08
2  0.594937  0.727273  0.188406  0.08
3  0.582278  0.704545  0.217391  0.08
4  0.632911  0.818182  0.202899  0.08
5  0.683544  0.886364  0.246377  0.16
6  0.582278  0.772727  0.202899  0.12
7  0.632911  0.772727  0.217391  0.08
8  0.556962  0.659091  0.202899  0.08
9  0.620253  0.704545  0.217391  0.04

In [24]:
X_scaled.describe()

                0           1           2           3
count  150.000000  150.000000  150.000000  150.000000
mean     0.739662    0.694091    0.544734    0.479467
std      0.104818    0.098544    0.255713    0.305264
min      0.544304    0.454545    0.144928    0.040000
25%      0.645570    0.636364    0.231884    0.120000
50%      0.734177    0.681818    0.630435    0.520000
75%      0.810127    0.750000    0.739130    0.720000
max      1.000000    1.000000    1.000000    1.000000

In [25]:
X_train_sc, X_test_sc, y_train_sc, y_test_sc = train_test_split(X_scaled, Y, random_state=0)

In [26]:
svc_sc = SVC()
svc_sc.fit(X_train_sc, y_train_sc.values.ravel())

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [27]:
print('Train Score:\t{:.2f}'.format(svc_sc.score(X_train_sc, y_train)))
print('Test Score:\t{:.2f}'.format(svc_sc.score(X_test_sc, y_test)))

Train Score:	0.96
Test Score:	0.95

### Subtotal

Scaler makes this situation a little bit worse

And I want to see it's parameters

## Other methods

### «get_params»

In [13]:
scaler.get_params()

{'copy': True}

### «fit_transform»

In [14]:
X_ft_scaled = MaxAbsScaler().fit_transform(X)
X_ft_scaled = pd.DataFrame(X_ft_scaled)
X_ft_scaled.head(10)

          0         1         2     3
0  0.645570  0.795455  0.202899  0.08
1  0.620253  0.681818  0.202899  0.08
2  0.594937  0.727273  0.188406  0.08
3  0.582278  0.704545  0.217391  0.08
4  0.632911  0.818182  0.202899  0.08
5  0.683544  0.886364  0.246377  0.16
6  0.582278  0.772727  0.202899  0.12
7  0.632911  0.772727  0.217391  0.08
8  0.556962  0.659091  0.202899  0.08
9  0.620253  0.704545  0.217391  0.04

### «inverse_transform»

In [15]:
X_anti_scaled = scaler.inverse_transform(X_ft_scaled)
X_anti_scaled = pd.DataFrame(X_anti_scaled)
X_anti_scaled.head(10)

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2
5  5.4  3.9  1.7  0.4
6  4.6  3.4  1.4  0.3
7  5.0  3.4  1.5  0.2
8  4.4  2.9  1.4  0.2
9  4.9  3.1  1.5  0.1

![giphy](giphy.gif)